.demo-logo-vertical {
    height: 32px;
    margin: 16px;
    background: rgba(235, 7, 7, 0.2);
    border-radius: 6px;
}
body {
    font-size: 12px;
}
.container_logo{
    display:flex;
    align-items: center;
    margin-left: 10px;
}
.icon_logo{
    width: 55px;
    height: 55px;
}
.icon_text{
    margin-left: 0px;
}
.title_text{
    color: #637381;
    margin-bottom: 2px;
}
.description_text{
    color: #25AAE2;
}